:root {
    --main-color: #fff;
    --black: #1f9fb6;
    --primary: #933ded;
    --dark: #232323;
    --pure: #fff;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Tahoma, sans-serif;
}

.link-btn {
    display: inline-block;
    background: var(--black);
    color: var(--pure);
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 17px;
    cursor: pointer;
}

.link-btn:hover {
    color: var(--pure);
    background: var(--dark);
}

header {
    background: #fff;
}

header .logo {
    font-size: 20px;
    color: var(--dark);
}

header .logo span {
    color: var(--dark);
}

header .nav a {
    margin-left: 3px;
    border-radius: 50px;
    color: var(--dark);
    padding: 5px 15px;
}

header .nav a.active,
header .nav a:hover {
    background: var(--black);
    color: var(--pure);
}

#home{
    padding: 2rem;
}
.home {
    min-height: 100vh;
    background: url("/assets/img/bn.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.home .content span {
    color: var(--black);
    font-size: 20px;
}

.home .content h1 {
    color: var(--black);
    font-size: 40px;
    position: center
}

.teks{
    color: white;
    background-color: aqua;
    padding: 1rem;
}

.topic{
    margin: 5rem;
}
